{% comment %}

	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Footer

	Description:

		Generates the footer portion of all pages.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<footer id="footer" class="editable">
		<div class="inner">
			<section class="info">
				<h3>Our Board</h3>
				<div class="about">
					<p>Our board of directors includes a cross section of expertise including logistics, emergency response, incident management, and engineering, but with a common thread among us all: aviation.</p>
					<p>Every member of our board of directors is a pilot. Among them are Certified Flight Instructors, cargo pilots, corporate jet pilots, charter operators, an air traffic controller, and fellow aircraft owners just like our volunteers. We are able to organize volunteers from the aviation community becasue we are members of that community.</p>
					<ul class="actions">
						<li><a class="button" href="#">Learn More</a></li>
					</ul>
				</div>
			</section>
			<section class="contact">
				<h3>Contact Us</h3>
				<ul class="contact-icons">
					<li class="icon fa-phone"><a href="tel:+19403209407">(940) 320-9407</a></li>
					<li class="icon fa-envelope"><a data-cms-editor-link-style="undefined" href="mailto:contact@operation-airdrop.com?subject=Website%20Contact">contact@operation-airdrop.com</a></li>
					<li class="icon fa-facebook"><a data-cms-editor-link-style="undefined" target="_blank" href="https://facebook.com/opairdrop">facebook.com/opairdrop</a></li>
					<li class="icon fa-twitter"><a data-cms-editor-link-style="undefined" target="_blank" href="https://twitter.com/opairdrop">twitter.com/opairdrop</a></li>
				</ul>
			</section>
		</div>
	</footer>
